
.App{
  background-color: #062743;

  height: 55rem;
  padding-bottom: 5rem;
}

.count{
  font-size: 5rem;
  color: #76b39d;

  
}
.t-count{
  font-size: 5rem;
  color: aliceblue;
  
}
.points{
  font-size: 7rem;
  color: aliceblue;

}

/* .main-container button{
  border-radius: 1.5rem ;
  width: 8rem;
  background-color: #a9c12a;
  font-weight: bold;
  height: 3rem;
  margin-right: 2rem;

} */
.easyButton{
  border-radius: 1.5rem ;
  width: 8rem;
  background-color: #94aa2a;
  font-weight: bold;
  height: 3rem;
  margin-right: 2rem;

}
.mediumButton{
  border-radius: 1.5rem ;
  width: 8rem;
  background-color: #e47312;
  font-weight: bold;
  height: 3rem;
  margin-right: 2rem;

}
.hardButton{
  border-radius: 1.5rem ;
  width: 8rem;
  background-color: #d55252;
  font-weight: bold;
  height: 3rem;
  margin-right: 2rem;

}
.main-container{
  width:20rem;
  padding: 2rem;
}
.button-container button{
  border-radius: 1.5rem ;
  width: 8rem;
  background-color: #1d566e;
  font-weight: bold;
  height: 3rem;
  margin-right: 2rem;
}